<html>
<body>

<form action='/users' method='post'>

	Name: <input type='text' name='name'>
	Dojo Location: <input type='text' name='location'>
	Favorite Language: <input type='text' name='language'>
	Comment: <input type='text' name='comment'>
	
	<input type='submit' value='Submit'>

</form>

</body>
</html>